.status-nav {
  background-color: lightseagreen;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  z-index: 100;

  p {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (max-width: 420px) {
    height: 120px;
  }
}

.nav {
  background-color: lightseagreen;
  height: 75px;

  .logo {
    position: absolute;
    left: 25%;
    top: 5px;

    img {
      width: 100px;
    }

    @media (max-width: 420px) {
      position: relative;
      text-align: center;
      left: 0;
      top: 0;
    }
  }

  &__title {
    color: white;
    display: inline-block;
    min-width: 200px;
    cursor: pointer;
    > div {
      position: relative;
      height: 75px;
      span {
        padding: 0 20px;
        color: white;
        font-size: 20px;
        font-weight: 500;

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
    }
    :hover {
      background-color: #1a9c92;
    }
  }

  .welcome {
    margin-top: 25px;
    color: white;
    font-size: 20px;
  }

  
  .nav__titles {
    @media (max-width: 420px) {
      display: none;
    }
  }
}